#about-section {
    margin-top: $space-xxxl;
    width: 100%;

    figure {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    img {
        border-radius: $radius-s;
    }
}

#about-content {
    display: flex;
    padding: $space-xl $space-s $space-xxl $space-s;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-s;
    align-self: stretch;
}

#about-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-s;
    align-self: stretch;
}

#about-picture {
    display: none;
}

#about-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $space-s;
}



@media (min-width: 900px) {

    #about-content {
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: $space-m;

        #about-details {
            max-width: 500px;
            height: 100%;
            justify-content: space-between;
        }
    }

    #about-picture {
        display: inline-block;
    }

    #about-links {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: $space-xs;
    }

}