/* -------------------------- CSS Reset --------------------------  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.forSR {
    display: none;
}

html {
    scroll-behavior: smooth;
}

@media (pointer:coarse) {
    *:focus {
        outline: none
    }
}


/* -------------------------- Variables -------------------------- */

:root {


    /* ---- color level 0 - primitives ---- */

    --neutral-00: hsl(0, 0%, 100%);
    --neutral-02: hsl(0, 0%, 98%);
    --neutral-03: hsl(0, 0%, 96%);
    --neutral-05: hsl(0, 0%, 93%);
    --neutral-10: hsl(0, 0%, 90%);
    --neutral-20: hsl(0, 0%, 80%);
    --neutral-30: hsl(0, 0%, 70%);
    --neutral-40: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-60: hsl(0, 0%, 40%);
    --neutral-70: hsl(0, 0%, 30%);
    --neutral-80: hsl(0, 0%, 20%);
    --neutral-85: hsl(0, 0%, 16%);
    --neutral-90: hsl(0, 0%, 10%);
    --neutral-100: hsl(0, 0%, 0%);

    --pink-10: hsl(311, 100%, 90%);
    --pink-20: hsl(311, 100%, 80%);
    --pink-30: hsl(311, 100%, 70%);
    --pink-40: hsl(311, 100%, 60%);
    --pink-50: hsl(311, 100%, 50%);
    --pink-60: hsl(311, 100%, 40%);
    --pink-70: hsl(311, 100%, 30%);
    --pink-80: hsl(311, 100%, 20%);
    --pink-90: hsl(311, 100%, 10%);



    /* ---- color level 1 - semantic ---- */

    --primary-00: var(--neutral-00);
    --primary-02: var(--neutral-02);
    --primary-03: var(--neutral-03);
    --primary-05: var(--neutral-05);
    --primary-10: var(--neutral-10);
    --primary-20: var(--neutral-20);
    --primary-30: var(--neutral-30);
    --primary-40: var(--neutral-40);
    --primary-50: var(--neutral-50);
    --primary-60: var(--neutral-60);
    --primary-70: var(--neutral-70);
    --primary-80: var(--neutral-80);
    --primary-85: var(--neutral-85);
    --primary-90: var(--neutral-85);
    --primary-100: var(--neutral-100);


    --accent-10: var(--pink-10);
    --accent-20: var(--pink-20);
    --accent-30: var(--pink-30);
    --accent-40: var(--pink-40);
    --accent-50: var(--pink-50);
    --accent-60: var(--pink-60);
    --accent-70: var(--pink-70);
    --accent-80: var(--pink-80);
    --accent-90: var(--pink-90);



    /* ---- color level 2 - system ---- */

    /* type / body */

    --clr-type-body: var(--primary-85);
    --clr-type-body-disabled: var(--primary-50);

    --clr-type-body-inv: var(--primary-05);
    --clr-type-body-disabled-inv: var(--primary-50);


    /* type / links */

    --clr-type-link-enabled: var(--primary-85);
    --clr-type-link-hover: var(--accent-60);
    --clr-type-link-focus: var(--accent-60);
    --clr-type-link-pressed: var(--accent-70);
    --clr-type-link-disabled: var(--primary-50);

    --clr-type-link-inverted: var(--primary-05);

    /* surfaces */

    --clr-bg-pri: var(--primary-02);
    --clr-bg-sec: var(--primary-05);
    --clr-bg-hover: var(--primary-03);
    --clr-bg-gradient: radial-gradient(87.7% 67.58% at 36.85% 100%, rgba(255, 140, 0, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%),
        radial-gradient(164.48% 79.58% at 8.96% 100%, rgba(255, 0, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%),
        linear-gradient(0deg, #EEE 0%, #EEE 100%), #F2F2F2;


    /* icons */

    --clr-icon-enabled: var(--neutral-85);
    --clr-icon-hover: var(--acccent-60);
    --clr-icon-focus: var(--accent-60);
    --clr-icon-pressed: var(--accent-70);
    --clr-icon-disabled: var(--neutral-50);

    --clr-icon-inverted: var(--neutral-05);

    /* buttons */

    --clr-button-pri-enabled: var(--neutral-00);
    --clr-button-pri-hover: var(--neutral-10);
    --clr-button-pri-focus: var(--neutral-10);
    --clr-button-pri-pressed: var(--neutral-20);
    --clr-button-pri-disabled: var(--neutral-00);

    /* borders */

    --clr-border-enabled: var(--neutral-10);
    --clr-border-subtle: var(--neutral-20);



    /* ---- other variables ---- */

    /* type family*/
    --font-display: "Tobias", serif;
    --font-body: "NeueMontreal", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* font-size */
    --type-xs: 0.75rem;
    --type-s: 0.875rem;
    --type-m: 1.125rem;
    --type-l: 1.25em;
    --type-xl: 1.5rem;
    --type-xxl: 2rem;
    --type-xxxl: 3rem;
    --type-xxxxl: 4rem;

    /* spacing */
    --space-xxxs: 4px;
    --space-xxs: 8px;
    --space-xs: 12px;
    --space-s: 16px;
    --space-m: 20px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 40px;
    --space-xxxl: 64px;
    --space-huge: 80px;

    /* border radius */
    --radius-s: 8px;
    --radius-m: 16px;
    --radius-l: 32px;
    --radius-full: 1000px;

}


/* -------------------------- General -------------------------- */


body {
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    background-color: var(--clr-bg-pri);

    font-family: var(--font-body);
    color: var(--clr-type-body);
}

section {
    width: 100%;
    margin: 0 auto;
    padding: var(--space-l) 0 0 0;
    background-color: var(--clr-bg-pri);
}

.section-header {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 var(--space-s) 0;

    border-bottom: 1px solid var(--clr-border-enabled);


    .section-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 var(--space-m);
    }

    a {
        display: inline-block;
        text-decoration: none;
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 var(--space-m);
}



/* -------------------------- Typography -------------------------- */

h1 {
    font-family: var(--font-display);
    font-weight: 100;
    font-style: italic;

    font-size: var(--type-xxxxl);
    line-height: 1.2;
    letter-spacing: -0.025rem;
}

h2 {
    font-weight: 700;

    font-size: var(--type-xxl);
    line-height: 150%;
    letter-spacing: -0.025rem;
}

h3 {
    font-weight: 500;

    font-size: var(--type-l);
    line-height: 150%;
    letter-spacing: -0.03rem;
}

p {
    font-weight: 300;

    font-size: var(--type-m);
    line-height: 150%;
    letter-spacing: -0.025rem;
}

a {
    text-decoration: none;
    color: inherit;

    font-weight: 500;

    font-size: var(--type-m);
    line-height: 130%;
    letter-spacing: -0.025rem;
}



/* -------------------------- buttons --------------------------  */


.primary-button {

    width: 100%;
    display: flex;

    cursor: pointer;
    padding: 0.85rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: var(--radius-m);
    border: 1px solid var(--clr-border-enabled);
    outline: 0px solid var(--clr-border-enabled);
    background: var(--clr-button-pri-enabled);
    box-shadow: 0px 0px 23.3px 0px rgba(0, 0, 0, 0.04);

    font-size: var(--type-m);
    line-height: 130%;
    letter-spacing: -0.025rem;

    transition: all 0.1s ease-in-out;
}

.button-text,
.button-text:hover {
    color: var(clr-type-link-enabled);
}


/* -------------------------- appear animation --------------------------  */


.fade-in {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(20px);
    transition: all 1.5s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}


@media (min-width: 900px) {

    a:hover,
    a:focus {
        color: var(--accent-40);
    }

    .primary-button {

        width: auto;

        &:hover {
            border: 1px solid rgba(255, 118, 230, 0.65);
            outline: 4px solid rgba(255, 118, 230, 0.40);
            box-sizing: border-box;
        }

        a:hover,
        a:focus {
            color: var(--clr-type-link-enabled);
        }
    }
}