
@font-face {
    font-family: 'NeueMontreal';
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('/src/assets/fonts/NeueMontreal/PPNeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tobias';
    src: url('/src/assets/fonts/Tobias/TobiasTRIAL-ThinItalic.woff') format('woff');
    font-weight: thin;
    font-style: italic;
    font-display: swap;
}