footer {
    margin-top: auto;
    background: var(--clr-bg-sec);

}


#footer-copyright {

    padding: var(--space-s) 0;

    p {
        font-size: var(--type-s);
        font-weight: 500;
    } 
}