/* -------------------------- CSS Reset --------------------------  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.forSR {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

@media (pointer:coarse) {
    *:focus {
        outline: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
    }
}



/* -------------------------- General -------------------------- */


body {
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    background-color: $clr-bg-pri;

    font-family: $font-body;
    color: $clr-type-body;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: $space-l 0 0 0;
    background-color: $clr-bg-pri;
}

.section-header {
    width: 100%;
    margin: 0 auto;
    padding: $space-s 0 $space-xxs 0;

    border-bottom: 1px solid $clr-border-enabled;


    .section-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 $space-m;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 $space-m;
}



/* -------------------------- Typography -------------------------- */

h1 {
    font-family: $font-display;
    font-weight: 100;
    font-style: italic;

    font-size: $type-xxxxl;
    line-height: 1.2;
    letter-spacing: -0.025rem;
}

h2 {
    font-weight: 700;

    font-size: $type-xxl;
    line-height: 150%;
    letter-spacing: -0.025rem;
}

h3 {
    font-weight: 500;

    font-size: $type-l;
    line-height: 150%;
    letter-spacing: -0.03rem;
}

p {
    font-weight: 400;

    font-size: $type-m;
    line-height: 150%;
    letter-spacing: -0.025rem;
}

a {
    text-decoration: none;
    color: inherit;

    font-weight: 500;

    font-size: $type-m;
    line-height: 130%;
    letter-spacing: -0.025rem;
}



/* -------------------------- buttons --------------------------  */


.primary-button {

    width: 100%;
    display: flex;

    cursor: pointer;
    padding: 0.85rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: $radius-m;
    border: 1px solid $clr-border-enabled;
    outline: 0px solid $clr-border-enabled;
    background: $clr-button-pri-enabled;
    box-shadow: 0px 0px 23.3px 0px rgba(0, 0, 0, 0.04);

    font-size: $type-m;
    line-height: 130%;
    letter-spacing: -0.025rem;

    transition: all 0.1s ease-in-out;
}

.button-text,
.button-text:hover {
    color: $clr-type-link-enabled;
}


/* -------------------------- appear animation --------------------------  */


.fade-in {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(20px);
    transition: all 1.5s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
}


@media (min-width: 900px) {

    a:hover,
    a:focus {
        color: $accent-40;
    }

    .primary-button {

        width: auto;

        &:hover {
            border: 1px solid rgba(255, 118, 230, 0.65);
            outline: 4px solid rgba(255, 118, 230, 0.40);
            box-sizing: border-box;
        }

        a:hover,
        a:focus {
            color: $clr-type-link-enabled;
        }
    }
}