#hero-section {
    position: sticky;
    top: 0;
    display: flex;
    align-items: end;
    z-index: -10;

    background: var(--clr-bg-gradient);
    padding: var(--space-xxxl) var(--space-xs);
    height: 100svh;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #hero-description {
        max-width: 575px;
    }

    h2 {
        font-weight: 700;

        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: -0.025rem;
    }


}


#selectedWork-section,
#work-section {

    ul {
        width: 100%;
        margin-block-end: 0px;
        margin-block-start: 0px;
        padding-inline-start: 0px;
    }

    li {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0 0;
        width: 100%;
        border-bottom: 1px solid var(--clr-border-enabled);

        a {
            width: 100%;
        }
    }

    figure {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    img {
        border-radius: var(--radius-s);
    }

    .project-thumbnail {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        gap: var(--space-s);
        width: 100%;
        padding: var(--space-xl) var(--space-xl);

        .project-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: var(--space-xs);
        }
    }
}

@media (min-width: 768px) {

    #selectedWork-section {
        ul {
            .project-thumbnail {
                display: grid;
                align-items: center;
                column-gap: 128px;
                width: 100%;
            }
            }
        }

    .project-tags,
    .project-button {
        display: block;
    }
}
