#hero-section {
    position: sticky;
    top: 0;
    display: flex;
    align-items: end;
    z-index: -10;

    background: var(--clr-bg-gradient);
    padding: var(--space-xxxl) var(--space-xs);
    height: 100svh;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #hero-description {
        max-width: 575px;
    }

    h2 {
        font-weight: 700;

        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: -0.025rem;
    }


}


#selectedWork-section {

    ul {
        margin-block-end: 0px;
        margin-block-start: 0px;
        padding-inline-start: 0px;
    }

    li {
        list-style: none;
        margin: 0;
        padding: var(--space-xl) 0;
        width: 100%;
        border-bottom: 1px solid var(--clr-border-enabled);
    }

    figure {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    img {
        border-radius: var(--radius-s);
    }

    .project-thumbnail {
        padding: 0px var(--space-xl);
    }

    .project-tags,
    .project-button {
        display: none;
    }
}

