.caseStudy-section,
.caseStudy-content-section {
    margin-top: var(--space-xxxl);
    width: 100%;

    p {
        font-size: 1.125rem;
        font-style: 100;
        font-weight: 400;
        line-height: 150%;

    }

    figure {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    img {
        border-radius: var(--radius-s);
    }
}

.caseStudy-overview {

    display: flex;
    padding: 2rem 1rem 3rem 1rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;

}

.caseStudy-overview-aside {
    .caseStudy-overview-title {
        display: none;
    }

}

.caseStudy-overview-details {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

}

.caseStudy-overview-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    :first-of-type {
        border-top: 1px solid var(--clr-border-enabled);
    }

    .caseStudy-overview-infoline {
        display: flex;
        width: 100%;
        height: 3.25rem;
        padding: var(--space-xl) 0;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-bottom: 1px solid var(--clr-border-enabled);

        :first-of-type {
            border-top: none;
        }
    }
}



.caseStudy-content-section {
    background: linear-gradient(180deg, rgba(2, 30, 191, 0.00) 0%, rgba(36, 36, 36, 0.98) 15.21%), #FAFAFA;

    .caseStudy-content {
        display: flex;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;

        .caseStudy-content-image {
            margin: 0;
            margin-block-end: 0;
            margin-block-start: 0;
            margin-inline-end: 0;
            margin-inline-start: 0;

            img {
                width: 100%;
            }
        }
    }
}
    







@media (min-width: 900px) {



    .caseStudy-overview {
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 20px;

        .caseStudy-overview-aside {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

                .caseStudy-overview-title {
                    display: inline-block;
                    font-weight: 900;
                }
        }
    }

}