#hero-section {
    position: sticky;
    top: 0;
    display: flex;
    align-items: end;
    z-index: -10;

    background: var(--clr-bg-gradient);
    padding: var(--space-xxxl) var(--space-xs);
    height: 100svh;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #hero-description {
        max-width: 575px;
    }

    h2 {
        font-weight: 700;

        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: -0.025rem;
    }


}


#selectedWork-section,
#work-section {

    ul {
        width: 100%;
        margin-block-end: 0px;
        margin-block-start: 0px;
        padding-inline-start: 0px;
    }

    li {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0 0;
        width: 100%;
        border-bottom: 1px solid var(--clr-border-enabled);
        background-color: var(--clr-bg-pri);
        transition: all 0.2s ease-in-out;

        a,
        a:hover,
        a:focus {
            color: var(clr-type-link-enabled);
            width: 100%;
        }
    }

    figure {
        margin-block-end: 0;
        margin-block-start: 0;
        margin-inline-end: 0;
        margin-inline-start: 0;
    }

    img {
        border-radius: var(--radius-s);
    }

    .project-thumbnail {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        gap: var(--space-s);

        width: 100%;
        padding: var(--space-xl) var(--space-m);


        .project-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: var(--space-l);

            .project-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 0;

                .project-tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--space-xxs);

                    .tag {
                        padding: var(--space-xxs) var(--space-xs);
                        background-color: var(--clr-bg-sec);
                        border-radius: var(--radius-s);
                        font-size: var(--type-xs);
                        line-height: 150%;
                        font-weight: 500;
                        letter-spacing: 0.0125rem;
                        text-transform: camel-case;
                    }
                }

            }

            p {
                display: none;
            }
        }
    }
}


/* -------------------------- Slideshow --------------------------  */

.slideshow-container {
  max-width: 1000px;
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  pointer-events: none;
}

.mySlides,
.mySlides1,
.mySlides2 {
  display: none;
}

.prev, .next {
    position: absolute;
    pointer-events: auto;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%); // vertical centering

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1000px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.16); 
    user-select: none;
    backdrop-filter: blur(4px); // add this line
    -webkit-backdrop-filter: blur(4px); // for Safari support

    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    z-index: 1;

 a {
    margin: 0 auto;
    padding: 0 0;
  }
}

.next {
  right: var(--space-s);
}

.prev {
  left: var(--space-s);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1);
}






@media (min-width: 900px) {

    .prev, .next {
        display: none;
    }

    #selectedWork-section {
        ul {
                li:hover {
                    background-color: var(--clr-bg-hover);

                    a {
                        color: var(--clr-type-body);
                    }

                    .prev, .next {
                        display: flex;
                    }

                    
                }

                .project-thumbnail {
                    display: grid;
                    grid-template-columns: 4fr 6fr;
                    grid-template-rows: 1fr;
                    align-items: center;
                    gap: 20px;
                    }

                    .project-content {
                        max-width: 350px;
                        height: 100%;
                        max-height: 275px;
                        justify-content: space-between;

                        .project-details {
                            flex-direction: column-reverse;

                            h3 {
                                font-size: var(--type-xl);
                                line-height: 150%;
                                letter-spacing: -0.03rem;
                            }
                        }
                    }
                }

                }
}