/* -------------------------- variables -------------------------- */


:root {

    /* ---- color level 1 - primitives ---- */

    --neutral-00: hsl(0, 0%, 100%);
    --neutral-02: hsl(0, 0%, 98%);
    --neutral-05: hsl(0, 0%, 95%);
    --neutral-10: hsl(0, 0%, 90%);
    --neutral-20: hsl(0, 0%, 80%);
    --neutral-30: hsl(0, 0%, 70%);
    --neutral-40: hsl(0, 0%, 60%);
    --neutral-50: hsl(0, 0%, 50%);
    --neutral-60: hsl(0, 0%, 40%);
    --neutral-70: hsl(0, 0%, 30%);
    --neutral-80: hsl(0, 0%, 20%);
    --neutral-90: hsl(0, 0%, 10%);
    --neutral-95: hsl(0, 0%, 5%);
    --neutral-98: hsl(0, 0%, 2);
    --neutral-100: hsl(0, 0%, 0%);

    --red-10: hsl(352, 100%, 90%);
    --red-20: hsl(352, 100%, 80%);
    --red-30: hsl(352, 100%, 70%);
    --red-40: hsl(352, 100%, 60%);
    --red-50: hsl(352, 100%, 50%);
    --red-60: hsl(352, 100%, 40%);
    --red-70: hsl(352, 100%, 30%);
    --red-80: hsl(352, 100%, 20%);
    --red-90: hsl(352, 100%, 10%);

    --orange-10: hsl(18, 100%, 90%);
    --orange-20: hsl(18, 100%, 80%);
    --orange-30: hsl(18, 100%, 70%);
    --orange-40: hsl(18, 100%, 60%);
    --orange-50: hsl(18, 100%, 50%);
    --orange-60: hsl(18, 100%, 40%);
    --orange-70: hsl(18, 100%, 30%);
    --orange-80: hsl(18, 100%, 20%);
    --orange-90: hsl(18, 100%, 10%);

    /* type family*/
    --font-headings: Fjalla One, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-body: Noto Sans, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-buttons: Fjalla One, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* font-size */
    --type-xs: 0.75rem;
    --type-s: 0.875rem;
    --type-m: 1rem;
    --type-l: 1.2em;
    --type-xl: 1.5rem;
    --type-xxl: 2rem;
    --type-xxxl: 3rem;

    /* spacing */
    --space-xxs: 8px;
    --space-xs: 12px;
    --space-s: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 40px;
    --space-xxl: 48px;
    --space-xxxl: 64px;
    --space-huge: 80px;

   /* border radius */
   --radius-s: 4px;
   --radius-m: 16px;
   --radius-l: 32px;


   /* ---- color level 2 - system ---- */

    /* type / body */

    --clr-type-body: var(--neutral-00);
    --clr-type-body-disabled: var(--neutral-50);
    --clr-type-body-inv: var(--neutral-100);
    --clr-type-body-disabled-inv: var(--neutral-50);

    --clr-white: var(--neutral-00);
    --clr-red: var(--red-50);
    --clr-black: var(--neutral-100);

    /* type / links */

    --clr-type-link-enabled: var(--neutral-00);
    --clr-type-link-hover: var(--red-50);
    --clr-type-link-focus: var(--orange-50);
    --clr-type-link-pressed: var(--red-90);
    --clr-type-link-disabled: var(--neutral-50);
    --clr-type-link-inverted: var(--neutral-100);

    /* surfaces */

    --clr-bg-pri: var(--neutral-95);
    --clr-bg-sec: var(--neutral-90);
    --clr-bg-ter: var(--neutral-60);
    --clr-bg-qua: var(--neutral-100);
    --clr-bg-inv: var(--neutral-00);

    /* icons */

    --clr-icon-enabled: var(--neutral-00);
    --clr-icon-hover: var(--red-50);
    --clr-icon-focus: var(--orange-50);
    --clr-icon-pressed: var(--red-90);
    --clr-icon-disabled: var(--neutral-50);
    --clr-icon-inverted: var(--neutral-100);

    /* buttons */

    --clr-button-pri-enabled: var(--red-50);
    --clr-button-pri-hover: var(--orange-40);
    --clr-button-pri-focus: var(--orange-50);
    --clr-button-pri-pressed: var(--red-70);
    --clr-button-pri-disabled: var(--neutral-50);

    /* borders */

    --clr-border-enabled: var(--neutral-00);
    --clr-border-subtle: var(--neutral-30);
    --clr-border-subtle2: var(--neutral-80);
    --clr-border-inv: var(--neutral-100);

}

body.darkmode {
  
    /* ---- color level 2 - system ---- */

    /* type / body */

    --clr-type-body: var(--neutral-100);
    --clr-type-body-disabled: var(--neutral-50);
    --clr-type-body-inv: var(--neutral-00);
    --clr-type-body-disabled-inv: var(--neutral-50);

    /* type / links */

    --clr-type-link-enabled: var(--neutral-100);
    --clr-type-link-hover: var(--red-50);
    --clr-type-link-focus: var(--orange-50);
    --clr-type-link-pressed: var(--red-90);
    --clr-type-link-disabled: var(--neutral-50);
    --clr-type-link-inverted: var(--neutral-100);

    /* surfaces */

    --clr-bg-pri: var(--neutral-00);
    --clr-bg-sec: var(--neutral-05);
    --clr-bg-ter: var(--neutral-60);
    --clr-bg-qua: var(--neutral-100);
    --clr-bg-inv: var(--neutral-00);

    /* icons */

    --clr-icon-enabled: var(--neutral-100);
    --clr-icon-hover: var(--red-50);
    --clr-icon-focus: var(--orange-50);
    --clr-icon-pressed: var(--red-90);
    --clr-icon-disabled: var(--neutral-50);
    --clr-icon-inverted: var(--neutral-00);

    /* buttons */

    --clr-button-pri-enabled: var(--red-50);
    --clr-button-pri-hover: var(--orange-40);
    --clr-button-pri-focus: var(--orange-00);
    --clr-button-pri-pressed: var(--red-90);
    --clr-button-pri-disabled: var(--neutral-50);

    /* borders */

    --clr-border-enabled: var(--neutral-00);
    --clr-border-subtle: var(--neutral-30);
    --clr-border-subtle2: var(--neutral-80);
    --clr-border-inv: var(--neutral-100);

    p {
        font-weight: 300;
    }
}

/* -------------------------- css reset --------------------------  */


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--clr-bg-pri);
}

html {
    scroll-behavior: smooth;
}

section {
    padding: var(--space-xxxl) 0;
    background-color: var(--clr-bg-pri);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--space-l);
    overflow-x: visible;
    max-width: 1400px;
}





/* -------------------------- general --------------------------  */


main {
    background-color: var(--clr-bg-pri);
}


h1, h2, h3, h4 {
    font-family: var(--font-headings);
    font-weight: 100;
}

h1 {
    font-size: var(--type-xxxl);
    color: var(--clr-white);
    text-transform: uppercase;
}

h2 {
    font-size: var(--type-xxl);
    color: var(--clr-type-body);
}

h3 {
    font-size: var(--type-xl);
    color: var(--clr-type-body);
    text-transform: uppercase;
}

h4 {
    font-size: var(--type-l);
    color: var(--clr-type-body);
    text-transform: uppercase;
}

p, a {
    color: var(--clr-type-body);
}

p {
    font-weight: 100;
    font-family: var(--font-body);
    font-size: var(--type-m);
}


a {
    color: var(--clr-type-link-enabled);
    text-decoration: none;
    font-family: var(--font-headings);
    font-size: var(--type-m);
}

a:hover {
    color: var(--clr-type-link-hover);
}





/* -------------------------- buttons -------------------------- */


button, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-buttons);
    color: var(--clr-white);

    background-color: var(--clr-button-pri-enabled);
    border: none;

    border-radius: var(--radius-s);
    padding: var(--space-xs) var(--space-s);

    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in-out; 
}

button:hover {
    transform: scale(1.025) translateY(-1px);
    background-color: var(--clr-button-pri-hover);
}

button:focus {
    background-color: var(--clr-button-pri-focus);
}

button:active {
    background-color: var(--clr-button-pri-pressed);
}

button:disabled {
    background-color: var(--clr-button-pri-disabled);
}





/* -------------------------- nav -------------------------- */


header {
    position: fixed;
    width: 100%;
    background: var(--clr-bg-inv);
    border-bottom: 1px solid var(--clr-border-subtle);
    padding: var(--space-s) 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 30px;
}

header button {
    padding: 0;
    box-shadow: none;
}

header button:hover {
    transform: none;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background: var(--clr-bg-inv);
    padding: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    list-style-type: none;
}

nav li a {
    color: var(--clr-type-link-inverted);
    text-decoration: none;
}

nav li a:hover {
    color: var(--clr-type-link-hover);
}

nav li a:focus {
    color: var(--clr-type-link-focus);
}
nav li a:active {
    color: var(--clr-type-link-pressed);
}





/* -------------------------- hero section -------------------------- */


#hero {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 95dvh;
    max-height: 800px;
    margin: 0;
    padding: 0;
    z-index: -10;
}

.hero-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#hero img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -40;
}

#hero p {
    font-weight: 500;
    color: var(--clr-white);
}

#hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 15%;
    gap: var(--space-xxs);
}





/* -------------------------- product section -------------------------- */


#highlight {
    display: flex;
    flex-direction: column;
    scroll-margin: var(--space-xs);
}

#camera {
    display: flex;
    scroll-margin: var(--space-xs);
}

.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin: var(--space-xs);
    padding: var(--space-xxl) 0;
    margin-bottom: var(--space-huge);
    max-width: 1100px;
}

.camera-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.camera-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.camera-image {
    max-width: 75%;
    margin-bottom: var(--space-l);
}


.mainFeatures-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    margin: 0 auto;
    scroll-margin: var(--space-xs);
    max-width: 1100px;
}

#mainFeatures {
    scroll-margin: var(--space-xxl);
}

.mainFeatures {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-m);
}

.mainFeatures-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-xxxl);
}


.mainFeatures-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}





/* -------------------------- our products & diaries sections -------------------------- */


#diaries,
#ourProducts {
    scroll-margin: var(--space-xs);
}

#diaries h2,
#ourProducts h2 {
    padding-left: var(--space-l);
}

.diaries-container,
.ourProducts-container {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    gap: var(--space-m);
    padding: 0;
}

.gallery-container {
    overflow-x: auto;
    overflow-y: visible;
    padding: var(--space-s) var(--space-l) 0 var(--space-l) ;
}

.gallery-container::-webkit-scrollbar {
    height: 4px;
    width: 100%;
}

.gallery-container::-webkit-scrollbar-thumb {
    background: var(--clr-bg-ter);
    border-radius: var(--radius-m);
    margin: 0 var(--space-l);
}

.gallery-container::-webkit-scrollbar-track {
    background: var(--clr-bg-sec);
    border-radius: var(--radius-m);
    margin: 0 var(--space-l);
}

.gallery {
    display: flex;
    overflow: visible;
    scroll-behavior: smooth;
    padding-bottom: var(--space-s);
    gap: var(--space-m);
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow: hidden;
    width: 300px;
    padding: var(--space-xl) var(--space-s) var(--space-l) var(--space-s);
    gap: var(--space-xl);
    background-color: var(--clr-bg-sec);
    border-radius: var(--radius-m);
}

.diaries-content,
.ourProducts-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 var(--space-xs);
    gap: var(--space-m);
}

.spacer {
    min-width: 1px;
}




/* -------------------------- our products section -------------------------- */


.ourProducts-content {
    gap: var(--space-xs);
}





/* -------------------------- diaries section -------------------------- */


.diaries-card {
    position: relative;
    display: flex;
    justify-content: end;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: top;
    height: 450px;
}

.diaries-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    z-index: 1;
}

.diaries-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

.diaries-gradient {
    position: absolute;
    background: linear-gradient(to bottom, transparent, var(--clr-bg-sec));
    background-position: bottom;
    background-repeat: no-repeat;
    height: 45%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.diaries-card img {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -10;
}





/* -------------------------- footer -------------------------- */



footer {
    background-color: var(--neutral-90);
}

footer p {
    color: var(--clr-white);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-l);
}

footer img {
    width: 100px;
    height: auto;
}





/* -------------------------- responsiveness -------------------------- */


@media (min-width: 768px) {

    #hero {
        background-size: auto 150%;
    }
    
    .camera-container {
        display: flex;
        flex-direction: row-reverse;
        gap: var(--space-xxxl);
        scroll-margin: var(--space-huge); 
    }

    .camera-image {
        max-width: 155%;
    }
    
    .mainFeatures-wrapper {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: var(--space-l);
    }
    
    .mainFeatures {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
    }
    
    .mainFeatures-content {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    .mainFeatures-image {
        display: flex;
        align-items: center;
    }

    footer {
        gap: var(--space-m);
    }

    .footer-container {
        flex-direction: row;
        justify-content: center;
        gap: var(--space-xxl);
    }
}





@media (min-width: 1000px) {

     .camera-image {
        max-width: 55%;
    }

    .mainFeatures-wrapper {
        flex-direction: column;
        align-items: center;
        gap: var(--space-huge);
    }

    .mainFeatures {
        display: grid;
        width: 100%;
        max-width: 1100px;
        align-items: center;
        column-gap: 10%;
        grid-template-columns: 2fr 2fr;
    }
    
    .second-mainFeatures {
        grid-template-columns: 2fr 2fr;
    }

    .second-mainFeatures .mainFeatures-content {
        flex-direction: column;
    }

    .second-mainFeatures div:first-of-type {
        order: 1;
    }

    #mainFeatures-divider {
        display: block;
        height: 1px;
        width: 100%;
        max-width: 1100px;
        background-color: var(--clr-bg-ter);
    }

    .camera-container {
        padding: var(--space-m) var(--space-xl);
    }
}





@media (min-width: 1200px) {

    #hero {
        background-size: 100% auto;
    }

    .camera-image {
        max-width: 50%;
    }

    .mainFeatures {
        column-gap: 15%;
        margin-top: var(--space-m);
    }
    

    #diaries {
        overflow: hidden;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width:100%;
        flex-wrap: wrap;
        scroll-snap-type:none; 
        scroll-behavior: smooth;
        padding-bottom: var(--space-s);
        gap: var(--space-m);
    }

    .ourProducts-gallery {
        grid-template-columns: repeat(2, 1fr);
        margin-top: var(--space-m);
    }

    .card {
        height: 300px;
        width: 100%;
        padding: var(--space-l) var(--space-m) var(--space-l) var(--space-m);
    }

    .ourProducts-card {
        height: 360px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }


    .diaries-gallery {
        margin-top: var(--space-m);
    }

    .diaries-card {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        height: 320px;
    }

    .diaries-gradient {
        position: absolute;
        background: linear-gradient(to bottom, transparent, var(--clr-bg-sec), var(--clr-bg-sec));
        background-position: bottom;

        background-repeat: no-repeat;
        height: 130%;
        width: 100%;
        left: 0px;
        bottom: 0px;
        z-index: 0;
    }
}





/* -------------------------- header scroll animation --------------------------  */


/* Default visible state */

header {

    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: transform 0.6s ease-in-out;
    transform: translateY(0);
}


/* Hidden state (slide up) */
header.hidden {
    transform: translateY(-100%);
}





/* -------------------------- appear animation --------------------------  */


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}





/* -------------------------- light and dark mode --------------------------  */


#theme-switch {
    width: 24px;
    height: 24px;
    border-radius: var(radius-m);
    background-color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--clr-black);
}

#theme-switch svg:hover {
    fill: var(--clr-icon-hover);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}





/* -------------------------- back to top button --------------------------  */


#back-to-top-container {
    position: fixed;
    bottom: var(--space-l);
    right: var(--space-l);
    border: none;
    outline: none;
    background-color: var(--clr-button-pri-enabled);
    color: white;
    cursor: pointer;
    pointer-events: none;
    border-radius: 100%;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
}

#back-to-top-container button {
    padding: 0;
    box-shadow: none;
    background-color: transparent;
    padding: var(--space-s);
    transition: all 0.15s ease-in-out; 
}

#back-to-top-container button:hover {
    transform: translateY(-3px);
}

#back-to-top-container.show {
    opacity: 1;
    pointer-events: auto;
}

#back-to-top-container:hover {
    background-color: var(--clr-button-pri-hover);
}







